{% extends 'base.html' %}
{% block title %}DIY / Build Your Own{% endblock %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/neo.css' %}">
{% endblock %}
{% block js %}

  
{% endblock %}

{% block content %}

<div class="Page">
    
    
    <div class="multi-button">
        <button class="neo-button">Cut</button>
        <button class="neo-button">Copy</button>
        <button class="neo-button">Paste</button>
       
    
    </div>
    
</div>
{% endblock %}

