{% extends "base.html" %}
{% block title %}SplitView{% endblock %}
{% block js %}
$('.carousel-3d-basic').mdbCarousel3d();
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10" style="border: 5px groove green;">
            <article>
                <div class="card">
                    {% load static %}
                    <div class="card-img-top"><img src="{% static 'images/placeholder.png' %}" alt=""></div>
                </div>
            </article>
            
        </div>
    </div>
</div>
{% endblock %}
